.info {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  max-width: 160px;
  margin: 0 auto 49px;
}
.item {
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  margin-left: 10px;
}
.value {
  flex: 1;
  text-align: right;
}
